
.container {
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    background-color: rgb(73, 228, 228);
    border: 15px solid;
    border-radius: 45px;
    border-color: blueviolet;
    
    text-align: center;
    
    

}    
.container > div {
    
    
}

.container #message{
    
    border-radius: 10px;
    
    margin: auto;
    border: 5px dashed;
    border-color: blueviolet;
    border: auto;



}
#enter{
    
    color:blueviolet;
    background-color:black;
    border-radius: 10px;
    border: 2px solid;
    font-size: large;
    border-style: dashed;
    border-color: red;
    font-weight: bolder;

}

body{
    
    background-color: rgb(14, 14, 8);
    font-family :Arial, Helvetica, sans-serif;
    padding: 50px;
    width: 35%;    
    margin: auto;
    border-radius: 45px;
    border: 10px dashed;
    border-color: blueviolet;
    transform: translate(0,100%);
    text-align: center;
    align-items: center;

}
button {
    font-size: 1.5em;
    padding:10px;
    color: black;
    border-radius: 20px;
    background-color: blueviolet;
}
 #counter {
    font-size: 2em;
    font-weight: bold;
    color: black;
 }

 #message {
    color: black;
    font-size: large;
    text-align: center;

    

}


    


h1 {
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: auto;


}